logging:
  level:
    org.springframework.web: INFO
    com.github.binarywang.demo.wx.mp: DEBUG
    me.chanjar.weixin: DEBUG
wx:
  mp:
    configs:
      - appId: wxafcb7752886aa01b
        secret: 27b1212a8be8d4159a59d0b9500f8bda
        token: ba0497566cc04d8ca4fde4af4a3b7707
        aesKey: 111 （接口配置里的EncodingAESKey值）

